@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/site.css">

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Наименование на ВУ/ филиал/ основно звено</th>
            <th>Шифър на ПН</th>
            <th>Наименование на професионалното направление</th>
            <th>Вид процедура</th>
            <th>Статус на процедурата</th>
            <th>Акредитационна оценка</th>
            <th>Дата, до която е валидна акредитацията</th>
        </tr>
    </thead>
    <tbody>
        @UniAccreditations.Pages.IndexModel.getInfo()
        @foreach (var element in @UniAccreditations.Pages.IndexModel.UniList)
        {
        <tr>
            <td>@element.ElementAt(0)</td>
            <td>@element.ElementAt(1)</td>
            <td>@element.ElementAt(2)</td>
            <td>@element.ElementAt(3)</td>
            <td>@element.ElementAt(4)</td>
            <td>@element.ElementAt(5)</td>
            <td>@element.ElementAt(6)</td>
        </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>